{
  "link": "((place your personal project-box link that you received from Losys support here))",
  "projectbox_script": "((place the script URL for the HTML-tag embedding that you received from Losys support here))"
}
